@model IEnumerable<PackManagementSystem.Entities.Motor>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Admin";
}

<div>
    <p class="alert alert-warning alert-dismissible" role="alert">Welcome back</p>
    <p class="alert alert-warning alert-dismissible" role="alert">Dear @ViewBag.Div,</p>
</div>
 
<div>
    <table class= "table">
        <thead>
        <tr>
            <th>Car Type</th>
            <th>Car Id</th>
            <th>Park Name</th>
            <th>Pay Price</th>
            <th>Payment Option</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var div in Model)
        {
            <tr>
                <th>@div.Carname</th>
                <th>@div.CarReg</th>
                <th>@div.Park.Name</th>
                <th>@div.Park.Price</th>
                <th><a asp-action="MakePayment" asp-route-Id="@div.Id" class="btn btn-success">Make Payment</a></th>
            </tr>
        }
        </tbody>
    </table>
</div>
<div style="padding:10px">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th><a asp-controller="Driver" asp-action="UpdateDriver" class="btn btn-outline-primary">Update Profile</a></th>
            <th><a asp-controller="Driver" asp-action="LogOut" class="btn btn-outline-primary">Log Out</a></th>
            <th><a asp-controller="Driver" asp-action="CheckPaymentHistory" class="btn btn-outline-primary">Check Payment History</a></th>
            <th><a asp-controller="Driver" asp-action="RegisterCar" class="btn btn-outline-primary">Register New Car</a></th>
        </tr>
        </tbody>
    </table>
</div>